/* Start: Navigation Bar */

.nav-link:hover {
  border-bottom: 2px solid var(--secondary);
  width: 93%;
  transition: border-bottom 0.2s ease-in-out;
  /* Change the duration and timing function to your preference */
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary);
  width: 93%;
  transition: border-bottom 0.2s ease-in-out;
  /* Change the duration and timing function to your preference */
}
.custom-border {
  border-color: #0a2647;
  color: #0a2647;
  font-weight: 500;
  outline: none;
  margin: 0;
  width: 125px;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn-login,
.btn-login:hover {
  background-color: var(--primary);
  color: #fff;
  border-color: var(--primary);
  outline: none;
  margin: 0;
  width: 125px;
  padding: 6px 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn-signup:hover {
  background-color: var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
  outline: none;
  margin: 0;
  width: 125px;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
/* End: Navigation Bar */
