@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
:root {
  --primary: #0a2647;
  --secondary: #ffb100;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: var(--primary);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}

.nav-link:hover {
  border-bottom: 2px solid var(--secondary);
  width: 93%;
  transition: border-bottom 0.2s ease-in-out; /* Change the duration and timing function to your preference */
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary);
  width: 93%;
  transition: border-bottom 0.2s ease-in-out; /* Change the duration and timing function to your preference */
}

.custom-border {
  border-color: #0a2647;
  color: #0a2647;
}

.btn-login:hover,
.btn-signup:hover {
  background-color: var(--primary);
  color: #fff;
}

.btn.active {
  background-color: #ccc;
  color: #fff;
}

/* start: Gallery Section */
.gallery-section {
  overflow: hidden;
  position: relative;
}
.gallery-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 940px;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    var(--primary) 50%,
    transparent 100%
  );
  z-index: 1;
  pointer-events: none;
}
.gallery-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(0deg, var(--primary), transparent);
  z-index: 1;
  pointer-events: none;
}
.gallery-wrapper {
  position: relative;
}
.gallery-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 1;
}

.hero-tag {
  padding: 10% 2%;
  border-radius: 5px;
}
.gallery-content h1 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 32px;
}
.gallery-content p,
h5 {
  color: #fff;
  line-height: 1.5;
}
.gallery-images-box {
  padding-left: 300px;
  min-height: 500px;
  height: 100vh;
}
.gallery-images-wrapper {
  display: flex;
  transform: rotateZ(15deg);
}
.gallery-images {
  margin-top: -100px;
  margin-right: 32px;
  animation: animate var(--duration, 10s) infinite linear;
}
.gallery-images:hover {
  animation-play-state: paused;
}
.gallery-images a {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s;
}
.gallery-images a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 4px var(--primary), 0 0 0 6px var(--secondary);
}
.gallery-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes animate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
/* end: Gallery Section */

/* start: Breakpoints */
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1160px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 940px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .gallery-images-box {
    padding-left: 100px;
  }
  .gallery-section::before {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .gallery-content {
    width: 100%;
    height: auto;
    padding: 48px 0 24px;
  }
  .gallery-images-box {
    padding-left: 0;
    margin-left: -300px;
    min-height: 700px;
  }
  .gallery-section::before {
    background-image: linear-gradient(
      180deg,
      var(--primary) 40%,
      transparent 100%
    );
    height: 500px;
  }
}
/* end: Breakpoints */
