@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --primary: #0a2647;
  --secondary: #ffb100;
  --dark-1: #161819;
  --dark-2: #252728;
  --grey: #aaa;
  --light: #fff;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: var(--primary);
  overflow-x: hidden;
  text-align: center;
}

/* Start: Navigation Bar */

.nav-link:hover {
  border-bottom: 2px solid var(--secondary);
  width: 93%;
  transition: border-bottom 0.2s ease-in-out;
  /* Change the duration and timing function to your preference */
}
.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid var(--primary);
  width: 93%;
  transition: border-bottom 0.2s ease-in-out;
  /* Change the duration and timing function to your preference */
}
.custom-border {
  border-color: #0a2647;
  color: #0a2647;
  font-weight: 500;
}
.btn-login,
.btn-login:hover {
  background-color: var(--primary);
  color: #fff;
  border-color: var(--primary);
}
.btn-signup:hover {
  background-color: var(--secondary);
  background-color: var(--secondary);
  color: var(--primary);
}
/* End: Navigation Bar */

/* Start: Scholarships*/

#scholarships {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    var(--primary) 40%,
    rgba(33, 150, 243, 0.5)
  );
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
}

.scholarships-banner {
  padding-top: 10%;
}

.banner-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

.banner-tagline {
  font-size: 24px;
  font-family: "lato", sans-serif;
}

.container-scholarships {
  margin-top: 5%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: #0a2647;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.card:hover {
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.card .img {
  height: 200px;
  width: 100%;
}
.card .img img {
  height: 100%;
  width: 100%;
  border-radius: 3%;
  object-fit: cover;
}
.card .top-text {
  padding: 5px;
}
.card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: white;
  font-family: "lato", sans-serif;
}
.card .top-text p {
  font-size: 20px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  line-height: 20px;
}
.card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.card:hover .bottom-text {
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text {
  text-align: justify;
}
.card .bottom-text .btn {
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a {
  text-decoration: none;
  background: #ffb100;
  color: #0a2647;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
  font-size: 18px;
}
.card .bottom-text .btn a:hover {
  transform: scale(1);
}

.scholarships-footer {
  margin-top: 5%;
  margin-bottom: 5%;
}
.btn-cta,
.btn-cta:hover {
  text-decoration: none;
  background: #ffb100;
  color: #0a2647;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  #scholarships {
    padding-top: 10%;
  }
  .container-scholarships {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card {
    max-width: 700px;
    margin: 20px 0;
  }
}

/* End: Scholarships*/
