*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}

.baddy{
    min-height: 100vh;
    background-color:  #0a2647;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
main.table{
    width: 82vw;
    height: 90vh;
    background-color: #fff;
}
.table_header{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}
.table_body{
  width: 95%;
  max-height: calc(89% - 1.6rem);
  margin: .8rem auto;
  border-radius: .6rem;
  overflow: auto;

}
.table_body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.table_body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #000400;
    visibility: hidden;
}
.table_body:hover:-webkit-scrollbar-thumb{
    visibility: visible;
}
table{
    width: 100%;

}


td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table , .label, .label3{
    padding: 1rem;
    border-collapse: collapse;
    font-family: serif;
}
.thead-II, .label{
    position: sticky;
    top: 0;
    left: 0;
    background-color: gray;
    font-family: serif;
    color: gold;
}
tbody.tr:nth-child(even){
    background-color: #0004;
}
tbody tr:hover{
    background-color: #fff6;
}
.status{
    
   background-color: red;
   text-align: center;
   padding: .4rem 0;
   border-radius: 2rem;
}
.status-avail{
    padding: .4rem 0;
    border-radius: 2rem;
    background-color: #86e49d;
    color: #006b21;
    text-align: center;
}
@media (max-width: 1000px) {
    td:not(:first-of-type){
        min-width: 12.1rem;
    }
    
}
.ment{
    font-family: serif;
    background-color: #0a2647;
    color: gold;
}